// 菜单主题样式
$menu-height: 42px;
$menu-icon-size: 20px;
$menu-font-size: 14px;

.layout-sidebar {

    // 通用菜单样式
    .el-sub-menu__title,
    .el-menu-item {
        height: $menu-height !important;
        margin-bottom: 4px;
        line-height: $menu-height !important;
        width: calc(100% - 16px);
        margin-left: 8px;
        border-radius: 6px;

        span {
            font-size: $menu-font-size !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .menu-icon {
            margin-right: 8px;
            font-size: $menu-icon-size;
        }
    }

    // 右侧箭头
    .el-sub-menu__icon-arrow {
        width: 13px !important;
        font-size: 13px !important;
    }

    // Design 主题（亮色）
    .el-menu-design {

        .el-sub-menu__title:hover,
        .el-menu-item:not(.is-active):hover {
            background: var(--el-fill-color-light) !important;
        }

        .el-menu-item.is-active {
            color: var(--el-color-primary) !important;
            background-color: var(--el-color-primary-light-9);

            .menu-icon {
                color: var(--el-color-primary) !important;
            }
        }

        .el-sub-menu__icon-arrow {
            color: var(--el-text-color-secondary);
        }
    }

    // Dark 主题（暗色）
    .el-menu-dark {

        .el-sub-menu__title:hover,
        .el-menu-item:not(.is-active):hover {
            background: #0f1015 !important;
        }

        .el-menu-item.is-active {
            color: #fff !important;
            background-color: #27282d;

            .menu-icon {
                color: #fff !important;
            }
        }

        .el-sub-menu__icon-arrow {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    // 菜单折叠时的样式
    .el-menu--collapse {
        .el-sub-menu.is-active {
            .el-sub-menu__title {
                .menu-icon {
                    color: var(--el-color-primary) !important;
                }
            }
        }
    }
}

// 暗色模式下的菜单样式
.dark {
    .layout-sidebar {

        .menu-icon,
        .menu-name {
            color: rgba(255, 255, 255, 0.7) !important;
        }

        .el-menu-item.is-active {

            span,
            .menu-icon {
                color: var(--el-color-primary) !important;
            }
        }

        .el-sub-menu__icon-arrow {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

// 弹出菜单样式
.el-menu--popup {
    padding: 8px;

    .el-sub-menu__title:hover,
    .el-menu-item:hover {
        background-color: var(--el-fill-color-light) !important;
        border-radius: 6px;
    }

    .el-menu-item {
        height: 40px;
        margin-bottom: 5px;
        border-radius: 6px;

        .menu-icon {
            margin-right: 5px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &.is-active {
            color: var(--el-color-primary) !important;
            background-color: var(--el-fill-color-light) !important;
        }
    }

    .el-sub-menu {
        height: 40px !important;
        margin-bottom: 5px;

        .el-sub-menu__title {
            height: 40px !important;
            border-radius: 6px;
        }
    }
}

// 暗色模式下的弹出菜单
.dark {
    .el-menu--popup {

        .el-sub-menu__title:hover,
        .el-menu-item:hover {
            background-color: #292a2e !important;
        }

        .el-menu-item.is-active {
            color: var(--el-text-color-primary) !important;
            background-color: #292a2e !important;
        }
    }
}