// 主题切换动画样式
// 使用 View Transition API 实现圆形扩散效果

$bg-animation-color-light: #000;
$bg-animation-color-dark: #fff;
$bg-animation-duration: 0.5s;

html {
    --bg-animation-color: #{$bg-animation-color-light};

    &.dark {
        --bg-animation-color: #{$bg-animation-color-dark};
    }

    // View Transition 样式
    &::view-transition-old(*) {
        animation: none;
    }

    &::view-transition-new(*) {
        animation: clip $bg-animation-duration ease-in both;
    }

    &::view-transition-old(root) {
        z-index: 1;
    }

    &::view-transition-new(root) {
        z-index: 9999;
    }

    // 暗色主题时反转动画
    &.dark {
        &::view-transition-old(*) {
            animation: clip $bg-animation-duration ease-in reverse both;
        }

        &::view-transition-new(*) {
            animation: none;
        }

        &::view-transition-old(root) {
            z-index: 9999;
        }

        &::view-transition-new(root) {
            z-index: 1;
        }
    }
}

// 圆形扩散动画
@keyframes clip {
    from {
        clip-path: circle(0% at var(--x) var(--y));
    }

    to {
        clip-path: circle(var(--r) at var(--x) var(--y));
    }
}

// body 背景色过渡
body {
    background-color: var(--bg-animation-color);
}